<div *ngIf="selectedHero">

  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div><span>name: </span>{{ hero.name }}</div>
  <div><span>Hp: </span>{{ hero.hp }}</div>

    <div>
      <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>

  <div>
    <label>Hp:
      <input [(ngModel)]="hero.hp" placeholder="Hp"/>
    </label>
  </div>

</div>


  <h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes"  (click)="onSelect(hero)">
      <span class="badge">{{hero.id}} </span>{{hero.name}}-{{ hero.hp }}HP
    </li>
  </ul>

<!-- <div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
    <div><span>Hp: </span>{{selectedHero.hp}}</div>
  </div>
</div> -->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>


